<div class="col-md-8 col-md-offset-2">
    <div class="col-md-12">
        <label for="nome">Nome</label>
        <input id="nome" type="text" ng-model="entity.nome" class="form-control"/>
    </div>

    <div class="col-md-12">
        <label for="descricao">Descriçao</label>
        <input id="descricao" type="text" ng-model="entity.descricao" class="form-control"/>
    </div>

    <div class="col-md-12">
        <label for="fornecedor">Fornecedor</label>
        <input id="fornecedor" type="text" ng-model="entity.fornecedor" class="form-control"/>
    </div>

    <div class="col-md-12">
        <label for="tipo">Tipo</label>
        <select ng-model="entity.tipo" name="tipo" class="form-control" id="tipo" ng-options="opt for opt in opts"></select>
    </div>

    <div class="col-md-12">
        <label for="preco">Preço</label>
        <input id="preco" type="text" ng-model="entity.preco" class="form-control" ui-money-mask/>
    </div>
    <div class="col-md-12">
        <label for="preco">Quantidade Minima</label>
        <input id="preco" type="number" ng-model="entity.min" class="form-control"/>
    </div>

    <div class="col-md-12" style="margin-top: 15px">
        <button type="button" class="btn btn-primary pull-right" ui-sref="produto.lista">Salvar</button>
    </div>
    <span class="clearfix"></span>
</div>
