<div class="col-md-8 col-md-offset-2">
     <div class="well">

         <div class="col-md-6">
             <label for="produto">Produto</label>
             <input id="produto" name="produto" type="text" ng-model="produto.valor" typeahead="pro as pro.name for pro in produtos |filter:$viewValue" class="form-control">
         </div>
         <div class="col-md-6">
             <label for="quantidade">Quantidade</label>
             <input id="quantidade" name="quantidade" type="number" ng-model="produto.quantidade" class="form-control"/>
         </div>
         <div class="col-md-12" style="margin-top: 15px">
             <button id="add" name="add" type="button" class="btn btn-info float-right" ng-click="add(produto)" ng-disabled="!produto.quantidade || !produto.valor.name">
                 Adicionar <span class="fa fa-plus"></span>
             </button>
         </div>
         <div class="clearfix"></div>
     </div>

    <div class="col-md-8 col-md-offset-2">
        <table class="table table-">
            <thead>
            <th>Nome</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-repeat="data in valores">
                <td>{{data.valor.name}}</td>
                <td>{{data.valor.value}}</td>
                <td>
                    {{data.quantidade}}
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="remover($index)"><span class="fa fa-remove"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <button class="btn btn-danger" ui-sref="produto.lista">Cancelar</button>
        <button class="btn btn-primary" ui-sref="produto.lista" ng-disabled="valores.length <= 0">Salvar</button>
    </div>
</div>
