<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" ui-sref="produto.novo">Novo +</a>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-">
            <thead>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Quantidade Minima</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="data in valores">
                    <td>{{data.nome}}</td>
                    <td>{{data.tipo}}</td>
                    <td>{{data.valor}}</td>
                    <td><span>
                        {{data.qntdMin}}
                    </span>
                        <input type="text"/>
                    </td>
                    <td>
                        <button class="bt btn-danger" ng-click="remover($index)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>