<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a class="btn btn-primary" ui-sref="encomenda.novo">Novo +</a>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <thead>
                <th>Cliente</th>
                <th>Data de Entrega</th>
                <th>Horário de entrega</th>
                <th>Endereço</th>
                <th>Quantidade de Itens</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="data in valores">
                    <td>{{data.nome}}</td>
                    <td>{{data.endereco}}</td>
                    <td>{{data.fixo}}</td>
                    <td>{{data.celular}}</td>
                    <td>{{data.funcao}}</td>
                    <td>
                        <button class="bt btn-danger" ng-click="remover($index)">X</button>
                        <button class="bt btn-info" ng-click="alterar($index)">Alterar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>