<div class="col-md-8 col-md-offset-2">
    <div class="col-md-12">
        <label for="nome">Nome</label>
        <input id="nome" type="text" ng-model="entity.nome" class="form-control"/>
    </div>

    <div class="col-md-12">
        <label for="endereco">Endereço</label>
        <input id="endereco" type="text" ng-model="entity.endereco" class="form-control"/>
    </div>

    <div class="col-md-12">
        <label for="fixo">Telefone Fixo</label>
        <input id="fixo" type="text" ng-model="entity.fixo" ui-br-phone-number class="form-control"/>
    </div>

    <div class="col-md-12">
        <label for="celular">Telefone Celular</label>
        <input ng-model="entity.celular" name="celular" id="celular" class="form-control" ui-br-phone-number/>
    </div>

    <div class="col-md-12" style="margin-top: 15px">
        <button type="button" class="btn btn-primary pull-right" ui-sref="cliente.lista">Salvar</button>
    </div>
    <span class="clearfix"></span>
</div>
